[app]
log_level = "debug" # Logging Level. `production` will log only `INFO` and higher. Use `debug` to enable verbose logging.

[[app.jobs]]
name="myjob" # Unique Job Name
exported_tags=[] # List of EC2 Tags which are collected from API response and added to the metric labels.
[[app.jobs.filters]] # Refer to Filter API documentation: https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_Filter.html.
name = "tag:environment"
value = "prod"
[app.jobs.aws_creds]
region="ap-south-1" # Required.
access_key="" # Optional. If blank, the environment variables `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` are used.
secret_key="" # Optional. If blank, the environment variables `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` are used.
role_arn="" # Optional. Role ARN is to "assume" another role than the one specified by a normal user

[[app.jobs]]
name="another-job" # Unique Job Name
exported_tags=["service"] # List of EC2 Tags which are collected from API response and added to the metric labels.
[[app.jobs.filters]] # Refer to Filter API documentation: https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_Filter.html.
name = "Name"
value = "myunicornstartup"
[app.jobs.aws_creds]
region="ap-east-1" # Required.
access_key="" # Optional. If blank, the environment variables `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` are used.
secret_key="" # Optional. If blank, the environment variables `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` are used.
role_arn="" # Optional. Role ARN is to "assume" another role than the one specified by a normal user


[server]
address = ":9608"
name = "ebs-snapshot-exporter"
read_timeout=8000
write_timeout=8000
max_body_size=40000